/** GENERAL **/
html, body {
    height: 100%;
}

body {
    background-color: #011748;
    font: normal small Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    font: normal 185%/1em Arial, sans-serif;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}

h2 {
    color: #BC9848;
    clear: both;
    font: bold 120%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

h5 {
    color: #009148;
    clear: both;
    font: bold 120%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

h6 {
    color: #000000;
    clear: both;
    font: bold 100%/1em Arial, sans-serif;
    letter-spacing: 0;
    margin: 30px 0 15px 0;
    padding: 0px;
}

p {
    clear: both;
    padding: 0;
    margin: 10px 0 10px 0;
    font: normal 90%/1.4em Verdana, sans-serif;
}

a img {
    border: 0;
}

a {
    color: #005d2e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    color: #005d2e;
}

/************* FORM ***************/
textarea {
    color: #363842;
    background: #F7FAFF;
    border: 1px solid #363842;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

input.text {
    color: #004410;
    background: #DCFEE4;
    border: 1px solid #006F20;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

input.submit {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #363842;
    font-size: 9px;
    font-weight: bold;
}

select {
    color: #004410;
    background: #DCFEE4;
    border: 1px solid #006F20;
    font-size: 11px;
    font-weight: normal;
}

/************* DIVS ***************/
#main {
    background-color: #ffffff;
    border-left: 2px solid #00A952;
    border-right: 2px solid #00A952;
    font-size: 95%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    min-width: 700px;
    padding: 0 4px;
    text-align: left;
}

header {
    background: #ffffff;
    height: 4rem;
    width: 100%;
}

nav {
    background-color: #70808C;
    clear: both;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    min-height: 35px;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;
}

nav a, nav a:visited {
    color: #ffffff;
}

.nav-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-group:first-child {
    padding-left: 1rem;
}

.nav-group:last-child {
    padding-right: 1rem;
}

.nav-group-item {
    border-left: 1px dashed white;
    height: 100%;
    text-align: center;
    flex-grow: 1;
    line-height: 35px;
    min-width: 100px;
}

.nav-group-item:last-child {
    border-right: 1px dashed white;
}

.admin .nav-group-item {
    background-color: #816E7B;
}

.nav-group-item a {
    display: block;
    height: 100%;
    width: 100%;
}

section#mainarea {
    background-color: #fff;
    color: #333;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 20px 0;
    overflow: auto;
    padding: 10px;
}

aside {
    flex-grow: 1;
    font-size: 90%;
    margin: 0 0 0 1rem;
    min-width: 15rem;
    padding: 0;
}

footer {
    border-top: 1px dashed #000000;
    clear: both;
    font-size: 90%;
    line-height: 1.6em;
    margin: 0;
    padding: 8px 17px 20px 17px;
}

#logo {
    float: left;
    padding-top: 3px;
    padding-left: 3px;
}

#infos {
    float: left;
    padding-top: 3px;
    padding-left: 30px;
}

#headline, .headline {
    background: -moz-linear-gradient(left, #00A952 0%, #c0f4cd 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, #00A952 0%, #c0f4cd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #00A952 0%, #c0f4cd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #00A952 0%, #c0f4cd 100%); /* IE10+ */
    background: linear-gradient(to right, #00A952 0%, #c0f4cd 100%); /* W3C */
    border: 0px solid #ffffff;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 7px 12px 5px 15px;
}

.headline-title {
    flex-grow: 2;
}

.headline-menu {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
}

/************* CLASSES ***************/
.maincontent {
    background-color: #fff;
    color: #333;
    flex-grow: 3;
    padding: 0;
}

.formfield {
    margin: 5px;
}

.ppp {
    margin: 10px;
}

.tag_cloud {
    background-color: #EBFAF0;
    border-top: 2px solid #00A952;
    border-bottom: 2px solid #00A952;
    border-right: 2px solid #00A952;
    border-left: 2px solid #00A952;
    margin: 0;
    padding: 0.5rem;
    text-align: left;
}

.tag_cloud span a {
    line-height: 1.5em;
    color: #00d561;
}

.tag_cloud span a:visited {
    color: #00d561;
}

.tag_cloud span a:hover {
    color: #00d561;
}

.tag_cloud span a:active {
    color: #00d561;
}

.list_element > td {
    border-bottom: 1px dashed black;
    height: 2.5rem;
}

.pny {
    /*display: none;*/
}

.info {
    float: left;
    font-size: 90%;
    padding: 3px;
    margin-left: 30px;
}

.info h5 {
    background: #fff url(images/arrow_green_small.gif) no-repeat left top;
    margin: 0;
    padding: 0 0 2px 18px;
}

.rules caption {
    padding-bottom: 15px;
    font-size: 95%;
    font-style: italic;
}

.rules th {
    border-bottom: 1px solid #000;
    font-size: 90%;
    padding: 0 5px;
    text-align: center;
}

.rules td {
    border-bottom: 1px dotted #000;
    font-size: 85%;
    margin: 0;
    padding: 3px;
    text-align: center;
}

ul.rules > li {
    margin-bottom: 10px;
}

.rule_title {
    font-weight: bold;
}

.rule_subtitle {
    margin-left: 5px;
    text-decoration: underline;
}

.bonus {
    font-style: italic;
    color: grey;
}


/************* media queries ******************/
@media (max-width: 700px) {
    header {
        display: none;
    }

    #main {
        border: 0;
        min-width: inherit;
        padding: 0;
    }

    nav {
        font-size: 0.7rem;
    }
    
    .nav-group:first-child, .nav-group:last-child {
        padding: 0;
    }

    .nav-group-item {
        min-width: inherit;
        overflow: hidden;
        white-space: nowrap;
    }

    section#mainarea {
        flex-flow: row wrap;
        padding: 0;
    }

    aside {
        border-left: none;
        border-right: none;
        margin: 1rem 0;
    }

    aside .tag_cloud {
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 400px) {
    table th:last-child, table td:last-child {
        display: none;
    }

    .headline, #headline {
        padding: 0.5rem 0.2rem;
    }

    .headline-title {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .headline-title > span {
        display: none;
    }

    .headline-menu {
        flex-flow: column nowrap;
    }
}
